In [509]:
import numpy as np
import collections
import operator
import pandas as pd

PLAIN_ALPHABET = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ*'

REPLACEMENTS = [["M", "G"], ["C", "G"], ["Z", "G"], ["N", "G"], ["B", "G"]]

In [849]:
CIPHER_ALPHABET = {
    "X" : ' ',
    "I" : "o",
    "Q" : "e",
    "G" : "a",
    "*" : "l'",
    "T" : "n",
    "U" : "t",
    "S" : "c",
    "O" : "h",
    "F" : "i",
    "L" : "d",
    "P" : "u",
    "R" : "q",
    "V" : "r",
    "Y" : "p",
    "W" : "m",
    "E" : "s",
    "J" : "g",
    "H" : "z",
    "D" : "f"
}

In [850]:
def load(fname):
    data = ''
    f = open(fname,'r')
    for line in f: 
        data = data + line.replace("\r", "").replace("\n", "")
        
    f.close()

    return data

In [851]:
def replace(string, old, new):
    string = string.replace(old, new)
    return string

In [852]:
def count_frequencies(cipher, replace = None):
    if replace:
        for pairs in replace:
            cipher = cipher.replace(pairs[0], pairs[1]) 
            
    count_dict = {}
    
    for letter in cipher:
        try:
            count_dict[letter] = count_dict[letter] + 1
        except KeyError:
            count_dict[letter] = 1
    dataframe = pd.DataFrame(sorted(count_dict.items(), key=operator.itemgetter(1)),
                             columns=["letter", "count"])
    dataframe["percentage"] = dataframe["count"]/len(cipher)
    return dataframe

In [853]:
def count_frequencies_pairs(cipher,replace = None ):
    if replace:
        for pairs in replace:
            cipher = cipher.replace(pairs[0], pairs[1]) 
    count_dict = {}
    for i in range(0, len(cipher), 3):
        try:
            count_dict[cipher[i:i+3]] = count_dict[cipher[i:i+3]] + 1                
        except KeyError:
            count_dict[cipher[i:i+3]] = 1
    dataframe = pd.DataFrame(sorted(count_dict.items(), key=operator.itemgetter(1)),
                             columns=["letter", "count"])
    dataframe["percentage"] = dataframe["count"]/len(cipher)
    return dataframe

In [854]:
def decrypt(cipher, alpha, cipher_alpha, replace=None):
    if replace:
        for pairs in replace:
            cipher = cipher.replace(pairs[0], pairs[1])
    decrypted_msg = []
    for letter in cipher:
        decrypted_msg.append(cipher_alpha.get(letter, letter)[0])
    return ''.join(decrypted_msg)

In [855]:
def format_accents(cipher, letters_with_accents):
    for pairs in letters_with_accents:
            cipher = cipher.replace(pairs[0], pairs[1])
    return cipher

In [856]:
# Load file

In [857]:
PATH = "./cipher.txt"

CIPHER = load(PATH)

In [858]:
CIPHER

'IXDVMUFXLFEEFXSOQXYQVXSQTUIXWF*FMXYQVFJ*FXEFQUQXJFPTUFXMX*ISSFLQTUQXMXRPQEUMXUMTUIXYFSSFI*MXKFJF*FMXLQXTIEUVFXEQTEFXSOQXLQ*XVFWMTQTUQXTITXKIJ*FMUQXTQJMVX*QEYQVFQTHMXLFVQUVIXM*XEI*XLQ*XWITLIXEQTHGXJQTUQXSITEFLQVGUQX*GXKIEUVGXEQWQTHGXDGUFXTITXDIEUQXGXKFKQVXSIWQXAVPUFXWGXYQVXEQJPFVXKFVUPUQXQXSGTIESQTHGX*FXWFQFXSIWYGJTFXDQSFIXEFXGJPUFXSITXRPQEUGXIVGHFITXYFSSFI*CXC*XSCWWFTIXSOQXCXYQTCXYIESFCX*FXCKVQFXVFUQTPUFXQXKI*UCXTIEUVCXYIYYCXTQ*XWCUUFTIXLQFXVQWFXDCSQWWIXC*FXC*XDI**QXKI*IXEQWYVQXCSRPFEUCTLIXLC*X*CUIXWCTSFTIXUPUUQX*QXEUQ**QXJFCXLQX*C*UVIXYI*IXKQLQCX*CXTIUUQXQX*XTIEUVIXUCTUIXACEEIXSOQXTITXEPVJQCXDPIVXLQ*XWCVFTXEPI*IXSFTRPQXKI*UQXVCSSQEIXQXUCTUIXSCEEIX*IX*PWQXQVZXLFXEIUUIXLZX*ZX*PTZXYIFXSOQXTUVZUFXQVZKZWXTQX*Z*UIXYZEEIRPZTLIXTZYYZVKQXPTZXWITUZJTZXAVPTZXYQVX*ZXLFEUZTHZXQXYZVKQWFXZ*UZXUZTUIXRPZTUIXKQLPUZXTITXZKQZXZ*SPTZXTIFXSFXZ**QJVNWWIXQXUIEUIXUIVTIXFTXYFNTUIXSOQXLQX*NXTIKNXUQVVNXPTXUPVAIXTNSRPQXQXYQVSIEEQXLQ*X*QJTIXF*XYVFWIXSNTUIXUVQXKI*UQXF*XDQXJFVBVXSITXUPUUQX*BSRPQXBX*BXRPBVUBX*QKBVX*BXYIYYBXFTXEPEIXQX*BXYVIVBXFVQXFTXJFPXSIWB*UVPFXYFBSRPQFTDFTXSOQX*XWBVXDPXEIYVBXTIFXVFSOFPEIXX*BXYBVI*BXFTXSILFSQXQXQRPBUIV'

In [860]:
count_frequencies(CIPHER)

   letter  count  percentage
0       A      4    0.003565
1       H      6    0.005348
2       N      7    0.006239
3       O      8    0.007130
4       D     10    0.008913
5       R     11    0.009804
6       M     13    0.011586
7       G     14    0.012478
8       J     16    0.014260
9       B     19    0.016934
10      K     19    0.016934
11      L     22    0.019608
12      W     26    0.023173
13      C     30    0.026738
14      Y     30    0.026738
15      Z     30    0.026738
16      P     35    0.031194
17      E     42    0.037433
18      S     42    0.037433
19      V     56    0.049911
20      *     62    0.055258
21      U     70    0.062389
22      T     72    0.064171
23      F     79    0.070410
24      I     89    0.079323
25      Q    103    0.091800
26      X    207    0.184492

In [861]:
count_frequencies(CIPHER, REPLACEMENTS)

   letter  count  percentage
0       A      4    0.003565
1       H      6    0.005348
2       O      8    0.007130
3       D     10    0.008913
4       R     11    0.009804
5       J     16    0.014260
6       K     19    0.016934
7       L     22    0.019608
8       W     26    0.023173
9       Y     30    0.026738
10      P     35    0.031194
11      E     42    0.037433
12      S     42    0.037433
13      V     56    0.049911
14      *     62    0.055258
15      U     70    0.062389
16      T     72    0.064171
17      F     79    0.070410
18      I     89    0.079323
19      Q    103    0.091800
20      G    113    0.100713
21      X    207    0.184492

In [862]:
# English letter frequency: http://letterfrequency.org/
# e t a o i n s r h l d c u m f p g w y b v k x j q z
english_letter_frequency = 'etaoinsrhldcumfpgwybvkxjqz'

In [863]:
decrypt_message = decrypt(CIPHER, PLAIN_ALPHABET, CIPHER_ALPHABET, REPLACEMENTS)

In [864]:
decrypt_message

'o frati dissi che per cento milia perigli siete giunti a loccidente a questa tanto picciola Kigilia de nostri sensi che del rimanente non Kogliate negar lesperienza diretro al sol del mondo senza gente considerate la Kostra semenza fati non foste a KiKer come Aruti ma per seguir Kirtute e canoscenza li miei compagni fecio si aguti con questa orazion picciola al cammino che a pena poscia li aKrei ritenuti e Kolta nostra poppa nel mattino dei remi facemmo ali al folle Kolo sempre acquistando dal lato mancino tutte le stelle gia de laltro polo Kedea la notte e l nostro tanto Aasso che non surgea fuor del marin suolo cinque Kolte racceso e tanto casso lo lume era di sotto da la luna poi che ntrati eraKam ne lalto passoquando napparKe una montagna Aruna per la distanza e parKemi alta tanto quanto Keduta non aKea alcuna noi ci allegrammo e tosto torno in pianto che de la noKa terra un turAo nacque e percosse del legno il primo canto tre Kolte il fe girar con tutte lacque a la quarta leKar la poppa in suso e la prora ire in giu comaltrui piacqueinfin che l mar fu sopra noi richiuso  la parola in codice e equator'